<nav class="navbar navbar-expand-lg navbar-dark bg-danger px-8">
  <a class="navbar-brand pl-4" [routerLink]='["/"]'>
    <i class="fab fa-angular text-light fa-2x"></i>
    <span class="">
      RetroCars
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmenu" aria-controls="navbarmenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse pr-4" id="navbarmenu">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link " [routerLink]='["/vehicles"]'>
          Vehicles
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]='["/counter"]'>
          Counter
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="[ 'active']">
        <a class="nav-link" [routerLink]='["/fetch-data"]'>
          Fetch data
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="[ 'active']">
        <a class="nav-link" [routerLink]='["/vehicles/new"]'>Add Vehicle</a>
      </li>
    </ul>
  </div>
</nav>
